/* .scramble-text {
    font-weight: 100;
    font-size: 28px;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.dud-text {
    color: #83F90C;
} */
